<div class="wrapper">
  <%= link_to 'Create new cocktail!', new_cocktail_path, class: "btn btn-lg-primary", id: "btn_cocktail" %>  
  <div class="container">
    <div class="row">     
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do%>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.photo %>);"> 
              <div class="card-category"><%= cocktail.name %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


